.main-chat-section {
  display: flex;
}

main {
  width: 100%;
  height: 100%;
  margin-left: 23.8vw;
}

.main-chat-heading {
  position: fixed;
  width: 100%;
  margin-top: 2.95vw;
  font-size: 1vw;
  display: flex;
  flex-direction: row;
  padding: 0 1vw 0 1vw;
  align-items: center;
  height: 3.25vw;
  border-bottom: 0.1vw solid rgb(209, 208, 208);
  background-color: #fafafa;
}

h3 {
  cursor: pointer;
}

h5 {
  margin: 0 0.2vw 0 0.2vw;
  padding: 1vw;
  font-weight: lighter;
}

#chat-text-main-chat-heading {
  border-bottom: 0.22vw solid blue;
  border-radius: 0.2vw;
  cursor: pointer;
}

#shared-text-main-chat-heading {
  color: gray;
  cursor: pointer;
}

#shared-text-main-chat-heading:hover {
  border-bottom: 0.22vw solid rgb(109, 106, 106);
  border-radius: 0.2vw;
}

#main-chat-heading-img {
  margin-right: 25vw;
  display: flex;
  flex: 1;
  justify-content: right;
}

.main-chat-body {
  margin-top: 5vw;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 3vw;
}

.main-chat-body-chats {
  font-size: 0.8vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: auto;
  padding: 2vw;
  z-index: -1;
}

.text-on-chat {
  display: flex;
  margin-bottom: 0.5vw;
  color: #616161;
}

#day-text-on-friday {
  margin-right: 16vw;
  color: #616161;
}

#frontendmentor-link {
  width: 25vw;
  background-color: #e8ebfa;
  border-radius: 5px;
  padding: 1vw;
  font-family: sans-serif;
  margin-left: 14vw;
}

a.chat-link:link {
  text-decoration: underline;
  color: blue;
}

a.chat-link:visited {
  color: purple;
}

#day-text-on-accessibility {
  margin-right: 15vw;
  color: #616161;
}

#accessibility-text {
  width: 40vw;
  background-color: #e8ebfa;
  border-radius: 5px;
  padding: 1vw;
  font-family: sans-serif;
}

#text-style {
  position: fixed;
  bottom: 0%;
  height: 7vw;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.textbar-section {
  background-color: #fafafa;
  padding: 0.2vw;
  display: flex;
  align-items: center;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 5px;
  height: 2vw;
  width: 41vw;
  margin-left: 17.5vw;
  margin-top: 2.3vw;
}

#textbar {
  height: 2vw;
  width: 40vw;
  font-size: 0.7vw;
  padding-left: 1.1vw;
  text-align: left;
  border: none;
}

@media screen and (max-width: 1239px) {
  main {
    margin-left: 4vw;
  }

  #main-chat-heading-img {
    margin-right: 5vw;
  }

  .textbar-section {
    margin-left: 20vw;
    width: 49vw;
    height: 2.5vw;
  }
}

@media screen and (max-width: 1730px) {
  .main-chat-heading {
    margin-top: 2.95vw;
  }
}

@media screen and (max-height: 978px) {
  .main-chat-heading {
    margin-top: 2.98vw;
  }
}

@media screen and (max-height: 600px) {
  .main-chat-heading {
    margin-top: 2.98vw;
  }
}

@media screen and (max-width: 996px) {
  main {
    margin-left: 4.6vw;
  }
}

@media screen and (max-width: 911px) {
  main {
    margin-left: 0vw;
  }

  #main-chat-heading-img {
    margin-right: 1.4vw;
  }

  .textbar-section {
    margin-left: 29.5vw;
  }
}
