.sidebar {
  position: fixed;
  margin-top: 2.95vw;
  font-size: 1vw;
  height: 100%;
  width: 3.7vw;
  background-color: rgb(230, 228, 228);
  border-bottom: 0.1vw solid rgb(209, 208, 208);
  border-right: 0.1vw solid rgb(209, 208, 208);
}

.sidebar-section {
  margin-bottom: 0;
}

.sidebar-section:hover {
  background-color: rgb(247, 245, 245);
}

.chat-new {
  border-left: 0.2vw solid blue;
  background-color: rgb(247, 245, 245);
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

.sidebar-img {
  margin-top: 1vw;
  margin-left: 1.3vw;
  height: 1.2vw;
  width: 1.2vw;
}

.new {
  margin-bottom: 0vw;
}

.sidebar-text {
  padding-bottom: 0.3vw;
  margin-top: 0.1vw;
  font-size: 10px;
  text-align: center;
  margin-left: 0.4vw;
  margin-right: 0.4vw;
}

#chat-logo {
  margin-left: 1.2vw;
}

@media screen and (max-width: 1239px) {
  .sidebar {
    margin-top: 2.95vw;
    font-size: 0.2vw;
    width: 3.7vw;
  }
}

@media screen and (max-width: 1242px) {
  .sidebar {
    margin-top: 2.95vw;
    font-size: 0.2vw;
    width: 3.9vw;
  }
}

@media screen and (max-width: 1070px) and (max-width: 1730px) {
  .sidebar {
    margin-top: 2.95vw;
    font-size: 0.1vw;
    width: 4vw;
  }
}

@media screen and (max-height: 978px) {
  .sidebar {
    margin-top: 2.98vw;
  }
}

@media screen and (max-width: 995px) {
  .sidebar {
    width: 4.5vw;
    font-size: 0.08vw;
  }

  .sidebar-text {
    margin-left: 0.2vw;
  }
}

@media screen and (max-width: 911px) {
  .sidebar {
    display: none;
  }
}